
*.sh
node_modules
lib
*.md
*.scss
*.woff
*.ttf
.vscode
.idea
/dist/
/mock/
/public
/docs
.vscode
.local
/bin
/build
/config
Dockerfile
.eslintrc.js
postcss.config.js
prettier.config.js
stylelint.config.js
tailwindcss.config.js
vue.config.js
